{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="hero">
    <div class="welcomeTxt">
        <H1>Bienvenue chez Pawfluence</H1>
    </div>
    <div class="join">
        <h2>Rejoignez le réseau :</h2>
        <p>Attention, risque élevé de ronrons et de coups de pattes créatives !</p>
        <div class="subscribeBtn">
            <a href="">Inscription avec Google</a>
            <p>OU</p>
            <a href="">Inscription avec un e-mail</a>
            <a href="">Vous êtes déjà membre ? Connectez-vous !</a>
        </div>
    </div>
</div>

{% endblock %}
