<h1>Bonjour! Veuillez confirmer votre email!</h1>

<p>
    Confirmez votre adresse e-mail en cliquant sur le lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmez votre e-mail</a>.
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A tous de suite sur notre communauté !
</p>
