@import "tailwindcss";
@source not "../../public";


@font-face {
  font-family: "Quicksand";
  src: url("/assets/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@theme {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #88B48C;
    --color-secondary: #F6F2EA;
    --color-accent: #FF8370;

    --font-quicksand: "Quicksand", ui-sans-serif, system-ui, sans-serif;
}