/****** importation css fails ******/

/* Components */
@import url("/css/components/buttons.css");
@import url("/css/components/card.css");

/* layout */
@import url("/css/layout/header.css");
@import url("/css/layout/footer.css");
@import url("/css/layout/hero.css");
@import url("/css/layout/pages.css");

@import url("/css/layout/mediaquery.css");


/****** global ******/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}

a {
  text-decoration: none;
}
