@import "tailwindcss";
@source not "../../public";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@theme {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #88B48C;
    --color-secondary: #F6F2EA;
    --color-accent: #FF8370;

    --font
}