/*** Global Button ***/
.btn {
  background-color: #FF8370;
  width: 20vh;
  padding: 0.6em;
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  border: 0.1em solid #FF8370;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  box-shadow:0 8px 16px 0 rgba(75, 30, 17, 0.6)
}

.btn a {

}

/*** Button Share ***/
.btnShare {
  border: none;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btnShare a {
  color: #FF8370;
  font-size: 2em;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
