/*** Global Button ***/
.btn {
  background-color: #FF8370;
  width: 20vh;
  padding: 0.6em;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  border: 0.1em solid #FF8370;
  border-radius: 3em;
}

.btn a {
  color: #000;
  font-size: 1.1em;
  font-weight: 600;
}

/*** Button Share ***/
.btnShare {
  border: none;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btnShare a {
  color: #FF8370;
  font-size: 2em;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
