/****** header ******/
header {
  background-color: #88B48C;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
}

/* Logo */
.logoHeader {
  width: 15%;
  text-align: center;
}

.logoHeader a {
  color: #000;
  font-size: 1.1em;
  font-weight: 700;
}

/* navigation list */
.navHeader {
  width: 50%;
}

.listHeader {
  width: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.listHeader li {
  width: 25%;
}

.listHeader li a {
  color: #000;
  font-size: 1.1em;
  font-weight: 700;
}

/* buttons */
.btnRegistration {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5em;
}