/*** Hero ***/
.wrapperHero {
  width: 100%;
  min-height: 15em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Bloc - title */
.title {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* On place l'image en fond avec le z-index */
.title img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

/* Avec ::before on va pouvoir créer le filtre de transparence */
.title::before {
  width: 100%;
  content: ""; /* Pseudo-élément */
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.title h1 {
  text-align: center;
  position: absolute;
  z-index: 2;
  font-size: 2em;
  font-weight: 700;
}

/* Bloc - Registration */
.visitor {
  width: 50%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.ctaUser {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.visitorSubscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

/* registration boutton */
.subscribe {
  background-color: #FF8370;
  width: 10em;
  text-align: center;
  border: 1em solid #FF8370;
  border-radius: 3em;
}

.subscribe a {
  color: #fff;
}

.connexion {
  color: #FF8370;

}

.connexion a {
  text-decoration: underline;
  color: #FF8370;
}

/* Bloc - Logged-in */
.userLoggedin {
  width: 50%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
/* 
.btnShare {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btnShare a {
  color: #FF8370;
  font-size: 2em;
  font-weight: 600;
  align-items: center;
  justify-content: center;
} */