
/****** Main - Home ******/

main {
  width: 100%;
  padding: 0 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

/** What's Pawfluence ? **/
.wrapperWhat {
  width: 100%;
  padding: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.what {
  width: 50%;
  padding: 1em;
}

.objectifs {
  width: 50%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 2em;
}

.cardWhat {
  text-align: center;
}

svg {
  width: 3em;
}

path {
  fill: #FF8370;
}


/****** Post list page - "Explorer" ******/
.wrapperPostList {
  width: 80%;
  padding: 3em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.titlePost {
  background-color: rgba(63, 57, 54, 0.1);
  width: 65%;
  padding: 1.2em;
  border: 0.1em solid rgba(63, 57, 54, 0.1);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.listPost {
  width: 100%;
  padding: 1em;
}

.listPost ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.btnAdd {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}

.btnAdd p {
  color: #FF8370;
  font-size: 1.2em;
  font-weight: 600;
}

.btnAdd a svg {
  border: 0.3em solid #FF8370;
  border-radius: 3em;
}

.card li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.3em;
}

.postTitle {
  color: #000;
  font-size: 1.3em;
  font-weight: 500;
}

.card a svg {
  width: 1.5em;
}

.tag {
  padding: 0.6em 0;
}

.btnInteractions {
  padding: 0.7em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}

.comment {
  padding: 0 1em;
}

/****** Show post page ******/
.postDetailWrapper {
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}

/** Comments Section **/
.commentWrapper {
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}
.comment {
  width: 100%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
 }


/****** Login page ******/
.wrapperForm {
  width: 100%;
  padding: 3em 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.welcome {
  width: 50%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.welcome a {
  color: #FF8370;
  text-decoration: underline;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}

form h2 {
  text-align: center;
}

.loginForm {
  width: 100%;
  padding: 0 1em;
}

.field {
  width: 100%;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
}

input:not([type="checkbox"]) {
  width: 30vh;
  padding: 0.5em;
  background-color: rgb(255, 131, 112, 0.1);
  border: 0.1em solid rgb(255, 131, 112, 0.1);
  border-radius: 2.5em;
}

.checkboxRow {
    display: flex;
    align-items: center;
    gap: 1.3em;
}

.submit {
  background-color: rgb(255, 131, 112, 0.7);
  width: 12vh;
  padding: 0.7em;
  border: 0.1em solid rgb(255, 131, 112, 0.7);
  border-radius: 2em;
  color: #fff;
}

/****** Register page ******/
.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}

.form h2 {
  text-align: center;
}


/****** Add comment form page ******/
.welcomeAdd h1 {
  font-size: 2.3em;
  font-weight: 800;
}

.welcomeAdd p {
  font-size: 1.7em;
  font-weight: 600;
}

.formRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.form-control {
  background-color: rgba(255, 131, 112, 0.1);
  width: 60%;
  border: 0.1em solid rgba(255, 131, 112, 0.1);
  border-radius: 2.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.message {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

/****** Profile page ******/
.profile {
 width: 100%;
 padding: 3em;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}

.avatarCard {
  width: 50%;
  padding: 2em;
  border: #FF8370 solid 0.3em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.avatarCard img {
  width: 50%;
  border: #fff solid 0.1em;
  border-radius: 70%;
}

.profileExtra {
  width: 50%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.profilePost {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.profilePost h2 {
  color: #FF8370;
  text-decoration: underline;
} 

/****** List profile page ******/
.wrapperProfilesList {
  width: 100%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}

.listProfiles ul {
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  gap: 1.8em;
}

.profilePseudo {
  color: #000;
  font-size: 1.2em;
  font-weight: 700;
}

.tag p {
  color: #000;
  font-weight: 500;
}

.showProfile {
  color: #000;
  font-weight: 500;
}
