.wrapperWhat,
.wrapperPostList,
.wrapperProfilesList,
.profilePost,
.postDetailWrapper,
.commentWrapper {
  display: grid;
  gap: 1rem;
}

.titlePost,
.what,
.description,
.profileExtra,
.userInfo,
.cardContent {
  display: grid;
  gap: .4rem;
}

.profile {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 1rem;
}

.profileAction {
  margin-top: .5rem;
}

.profilePost li {
  list-style: none;
}

.commentWrapper .comment,
.commentWrapper .subComment {
  display: grid;
  gap: .8rem;
}
